rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /blogs/{document=**} {
      allow create: if request.auth != null 
    allow delete: if request.auth.uid == resource.data.uid;
  }
}
}